<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>Want to change Password?</h3>
    <p>Enter a new password</p>
    <ion-list>
      <ion-item no-padding>
        <ion-input type="password" placeholder="Old Password"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="password" placeholder="New Password"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="password" placeholder="Confirm New Password"></ion-input>
      </ion-item>
      <ion-button style="width: 38%!important;">Reset</ion-button>
    </ion-list>
  </div>
</ion-content>
