<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Terms & Condition</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cum, dolorem exercitationem illo illum libero, molestiae molestias neque numquam pariatur placeat provident repudiandae sed sint sit voluptas.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, laboriosam, suscipit.</p>

    <h4>Copyright</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam enim et eum illo nam nostrum officiis quas quasi sequi? Dicta.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ex fuga fugit libero perferendis quae temporibus veritatis vero voluptas voluptatibus? Laudantium, molestiae, quasi? Blanditiis cupiditate illo odit pariatur tenetur.
      A modi pariatur praesentium veniam.</p>

    <h4>Limitation of Liability</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquid amet animi architecto asperiores autem blanditiis, consectetur distinctio dolores eaque eos esse id iusto laboriosam molestiae natus,
      nihil non possimus quibusdam quis similique totam unde.
    </p>
  </div>
</ion-content>
