<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sub Category</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h4> <img src="assets/imgs/category/health-supplement.jpg"> Health Supplement</h4>
    <ion-list>
      <ion-item (click)="product()"><ion-icon slot="end" name="ios-arrow-forward"></ion-icon>Women's Health </ion-item>
      <ion-item (click)="product()"><ion-icon slot="end" name="ios-arrow-forward"></ion-icon>Glycemic Health</ion-item>
      <ion-item (click)="product()"><ion-icon slot="end" name="ios-arrow-forward"></ion-icon>Pro Heart</ion-item>
      <ion-item (click)="product()"><ion-icon slot="end" name="ios-arrow-forward"></ion-icon>Joints & Bones Health</ion-item>
    </ion-list>
  </div>
</ion-content>
