<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="termsandcondition()">
      Terms and Condition<span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-item>
    <ion-item>
      Privacy Policy<span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-item>
    <ion-item>
      Affiliate Policy<span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-item>
    <ion-item>
      Infringement Policy<span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-item>
    <ion-item>
      License<span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-item>
    <ion-item>
      Return Policy<span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-item>
  </ion-list>
</ion-content>
