<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h4>Our Story</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto deserunt error inventore ipsam natus non perspiciatis rerum totam voluptates? Consequuntur
      dolorum eligendi explicabo illum incidunt itaque molestiae odio veritatis.</p>

    <h4>Features</h4>
    <p>Et harum quidem rerum facilis est et expedita distinctio:</p>
    <ul>
      <li>Nam libero tempore</li>
      <li>Blanditiis praesentium voluptatum deleniti</li>
      <li>Omnis dolor repellendus</li>
      <li>Itaque earum rerum hic tenetur.</li>
      <li>Temporibus autem quibusdam et aut officiis</li>
    </ul>
  </div>
</ion-content>
