.ion-padding {
  padding-top: 25px;
}
.single-category {
  margin-bottom: 12px;
  text-align: center;
  img {
    width: 50px;
    border-radius: 50%;
    height: auto;
  }
  h6 {
    font-size: 13px;
    margin: 5px 0;
    text-transform: capitalize;
  }
}
