<ion-header>
  <ion-toolbar color="primary">
    <ion-title>View Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="order-list">
    <div class="list-wrapper">
      <div class="ion-padding">
        <h2>Delivered</h2>
        <ion-row>
          <ion-col size="4">
            <img src="assets/imgs/products/pro-4.jpg" alt="">
          </ion-col>
          <ion-col size="8">
            <h5>Neutrogena® Oil-Free Face Moisturizer for Sensitive Skin</h5>
            <h3>$24.09</h3>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="info-wrapper">
      <div class="ion-padding">
        <h5>Order Info</h5>
        <ion-row>
          <ion-col size="4">
            <h6>Order No.</h6>
          </ion-col>
          <ion-col size="8">
            <h6>RWS45331892N</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <h6>Order date</h6>
          </ion-col>
          <ion-col size="8">
            <h6>08-12-2019</h6>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="info-wrapper">
      <div class="ion-padding">
        <h5>Shipping Address</h5>
        <ion-row>
          <ion-col size="12">
            <h6 class="highlight">George McGuire</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h6>(897) 496 3534</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h6>george.mcguire@gmail.com</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h6>733 Willington Dr, Spring Creek, NV, 89815</h6>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="info-wrapper">
      <div class="ion-padding">
        <h5>Price Details</h5>
        <ion-row>
          <ion-col size="4">
            <h6>Subtotal</h6>
          </ion-col>
          <ion-col size="8">
            <h6>$64</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <h6>Shipping</h6>
          </ion-col>
          <ion-col size="8">
            <h6>Free</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <h6 class="highlight">Total</h6>
          </ion-col>
          <ion-col size="8">
            <h6 class="highlight">$64</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h6 class="highlight">Payment Mode: UPI</h6>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </div>
</ion-content>
