<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>Update your Account</h3>

    <ion-list>
      <ion-item no-padding>
        <ion-input type="text" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="email" placeholder="Email Address"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="tel" placeholder="Phone Number"></ion-input>
      </ion-item>
      <ion-button style="width: 38%!important;">Reset</ion-button>
    </ion-list>
  </div>
</ion-content>
