<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end" class="btn-right" (click)="search()">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-right">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-right" (click)="cart()">
      <ion-icon name="cart"></ion-icon>
      <ion-badge>2</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner-slider">
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <img src="assets/imgs/slider-1.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slider-2.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slider-3.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slider-4.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </div>

  <div class="list-category">
    <ion-slides [options]="slidecat">
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/women-hygine.jpg">
          <h6>Women Hygiene</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/air-purifier.jpg">
          <h6>Air Purifer</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/oral-care.jpg">
          <h6>Oral Care</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/water-purifier.jpg">
          <h6>water Purifier</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/ayurveda.jpg">
          <h6>Ayurveda</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/healthy-food.jpg">
          <h6>Health Food</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/home-care.jpg">
          <h6>Home Care</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/skin-care.jpg">
          <h6>Premium Skin Care</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/health-supplement.jpg">
          <h6>Health Supplements</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/personal-care.jpg">
          <h6>Personal Care</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single" (click)="product()">
          <img src="assets/imgs/category/agro-product.jpg">
          <h6>Agri Products</h6>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="cat-single">
          <img src="assets/imgs/category/cosmetics.jpg">
          <h6>Colour Cosmetics</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single">
          <img src="assets/imgs/category/mens-grooming.jpg">
          <h6>Mens Grooming</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="cat-single">
          <img src="assets/imgs/category/business-tools.jpg">
          <h6>Business Tools</h6>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product-display">
      <h5>Featured Product <span><ion-button (click)="product()">View All</ion-button></span></h5>
      <ion-row>
        <ion-col size="6">
          <div class="single-product">
            <img src="assets/imgs/products/pro-1.jpg" alt="">
            <p>Dr. Vaidya's Herbo-24-Turbo Capsules</p>
            <h6>$56.42</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="single-product">
            <img src="assets/imgs/products/pro-2.jpg" alt="">
            <p>Oral-B Ultrathin Sensitive Toothbrush</p>
            <h6>$14</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="single-product">
            <img src="assets/imgs/products/pro-3.jpg" alt="">
            <p>IMODIUM® A-D Oral Solution Treatment</p>
            <h6>$36.04</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="single-product">
            <img src="assets/imgs/products/pro-4.jpg" alt="">
            <p>Neutrogena® Oil-Free Face Moisturizer for Sensitive Skin</p>
            <h6>$24.09</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="single-product">
            <img src="assets/imgs/products/pro-5.jpg" alt="">
            <p>Triple Hyaluronic Antioxidant Hydration Serum</p>
            <h6>$46</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="single-product">
            <img src="assets/imgs/products/pro-6.jpg" alt="">
            <p>The Inkey List, Lactic Acid Serum</p>
            <h6>$52</h6>
          </div>
        </ion-col>
      </ion-row>
  </div>

  <div class="ad-banner-wrapper" style="padding-bottom: 10px;">
    <ion-row>
      <ion-col size="6">
        <img src="assets/imgs/ad-banner-small-1.jpg" alt="">
      </ion-col>
      <ion-col size="6">
        <img src="assets/imgs/ad-banner-small-2.jpg" alt="">
      </ion-col>
    </ion-row>
  </div>

  <div class="product-display">
    <h5>Top Rated <span><ion-button (click)="product()">View All</ion-button></span></h5>
    <ion-row>
      <ion-col size="6">
        <div class="single-product">
          <img src="assets/imgs/products/pro-7.jpg" alt="">
          <p>N°5 Eau de Parfum</p>
          <h6>$56.42</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="single-product">
          <img src="assets/imgs/products/pro-8.jpg" alt="">
          <p>Clinique Happy Heart Perfume Spray for Women</p>
          <h6>$14</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="single-product">
          <img src="assets/imgs/products/pro-9.jpg" alt="">
          <p>Srv Agro Products</p>
          <h6>$36.04</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="single-product">
          <img src="assets/imgs/products/pro-10.jpg" alt="">
          <p>Migrow Agro Products Aayu 30 Organic Fertilizer</p>
          <h6>$24.09</h6>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="ad-banner-wrapper">
    <ion-row>
      <ion-col size="12">
        <img src="assets/imgs/ad-banner-big-1.jpg" alt="">
      </ion-col>
    </ion-row>
  </div>

</ion-content>

