<ion-content>
  <div class="ion-padding">
    <h2>Register Now</h2>
    <h6>Create Account to continue shopping</h6>
    <ion-list>
      <ion-item no-padding>
        <ion-input type="text" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="email" placeholder="Email Address"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input type="password" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <ion-button style="width: 38%!important;">Register</ion-button>
    </ion-list>
    <p>Have account? Click to <ion-button class="btn-transparent" (click)="login()">Login</ion-button></p>
  </div>
</ion-content>
