<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="order-list" (click)="myorderdetails()">
      <ion-row>
        <ion-col size="9">
          <p>Neutrogena® Oil-Free Face Moisturizer for Sensitive Skin</p>
          <h6>$24.09</h6>
        </ion-col>
        <ion-col size="3">
          <img src="assets/imgs/products/pro-4.jpg" alt="">
        </ion-col>
      </ion-row>
      <h5>Expected delivery date: 20-12-2017</h5>
    </div>

  <div class="order-list" (click)="myorderdetails()">
    <ion-row>
      <ion-col size="9">
        <p>Triple Hyaluronic Antioxidant Hydration Serum</p>
        <h6>$46</h6>
      </ion-col>
      <ion-col size="3">
        <img src="assets/imgs/products/pro-5.jpg" alt="">
      </ion-col>
    </ion-row>
    <h5>Delivered</h5>
  </div>

  <div class="order-list" (click)="myorderdetails()">
    <ion-row>
      <ion-col size="9">
        <p>Clinique Happy Heart Perfume Spray for Women</p>
        <h6>$14</h6>
      </ion-col>
      <ion-col size="3">
        <img src="assets/imgs/products/pro-8.jpg" alt="">
      </ion-col>
    </ion-row>
    <h5>Delivered</h5>
  </div>

</ion-content>
