.order-list {
   padding: 7px 10px;
  border-bottom: 1px solid #eaeaea;
  p {
    margin: 0 0 5px;
  }
  h6 {
    margin-top: 0;
  }
  h5 {
    font-size: 14px;
    margin: 8px 0 8px 6px;
    color: #0d4ec5;
  }
  &:last-child {
    border-bottom: none;
  }
}
